@import url('https://fonts.googleapis.com/css?family=Domine');

body{
	padding-top: 50px;
	font-family: 'Domine', serif;
}

img{
	max-width:200px;
}
.navbar{
	border-radius: 0;
	border: 0;
}
footer .navbar-default{
	background : transparent;
}
footer{
	background: grey;
}